<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--组件扫描 哪些包下的类上使用IOC注解-->
    <!--<context:component-scan base-package="com.ellden.spring.annotation"></context:component-scan>-->

    <!--在未打开包扫描的情况下，可以使用属性注入的注解 @Value @Aotuwire @Qulifer @Resource-->
    <context:annotation-config/>

    <bean id ="orderService" class="com.ellden.spring.annotation.OrderServiceImpl"></bean>
    <bean id="orderDao" class="com.ellden.spring.annotation.OrderDaoImpl"></bean>


</beans>